[package]

name = "rustup"
version = "1.14.0"
authors = [ "Diggory Blake <diggsey@googlemail.com>" ]
description = "Manage multiple rust installations with ease"

documentation = "http://rust-lang-nursery.github.io/rustup.rs/rustup/index.html"
homepage = "https://github.com/rust-lang-nursery/rustup.rs"
repository = "https://github.com/rust-lang-nursery/rustup.rs"

readme = "README.md"

keywords = ["rustup", "multirust", "install", "proxy"]

license = "MIT OR Apache-2.0"

build = "build.rs"

[features]

default = ["curl-backend", "reqwest-backend"]

curl-backend = ["download/curl-backend"]
reqwest-backend = ["download/reqwest-backend"]
vendored-openssl = ['openssl/vendored']

# Include in the default set to disable self-update and uninstall.
no-self-update = []

# Used to change behavior of self-update and uninstall if installed via MSI
msi-installed = []

[dependencies]
rustup-dist = { path = "src/rustup-dist" }
rustup-utils = { path = "src/rustup-utils" }
download = { path = "src/download" }
clap = "2.18.0"
error-chain = "0.12.0"
itertools = "0.7.6"
libc = "0.2.0"
markdown = "0.2"
rand = "0.5.2"
regex = "1.0.1"
remove_dir_all = "0.5.1"
same-file = "1.0"
scopeguard = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
sha2 = "0.7.0"
tempdir = "0.3.4"
tempfile = "3.0.2"
term = "0.5.1"
time = "0.1.34"
toml = "0.4"
url = "1.1.0"
wait-timeout = "0.1.5"
openssl = { version = '0.10.15', optional = true }

[target."cfg(windows)".dependencies]
winapi = { version = "0.3", features = ["jobapi", "jobapi2", "processthreadsapi", "psapi", "synchapi", "winuser"] }
winreg = "0.5.0"
gcc = "0.3.50"

[dev-dependencies]
rustup-mock = { path = "src/rustup-mock", version = "1.1.0" }
lazy_static = "1.0.0"

[workspace]
members = ["src/rustup-win-installer"]

[lib]
name = "rustup"
path = "src/rustup/lib.rs"
test = false # no unit tests

[[bin]]
name = "rustup-init"
path = "src/rustup-cli/main.rs"
test = false # no unit tests

[profile.release]
lto = true
codegen-units = 1
