[package]
authors = ["Daniel Silverstone <dsilvers@digital-scurf.org>", "Diggory Blake <diggsey@googlemail.com>"]
build = "build.rs"
description = "Manage multiple rust installations with ease"
edition = "2018"
homepage = "https://github.com/rust-lang/rustup"
keywords = ["rustup", "multirust", "install", "proxy"]
license = "MIT OR Apache-2.0"
name = "rustup"
readme = "README.md"
repository = "https://github.com/rust-lang/rustup"
version = "1.24.3"

[features]
curl-backend = ["download/curl-backend"]
default = ["curl-backend", "reqwest-backend", "reqwest-default-tls", "reqwest-rustls-tls"]

reqwest-backend = ["download/reqwest-backend"]
vendored-openssl = ['openssl/vendored']

reqwest-default-tls = ["download/reqwest-default-tls"]
reqwest-rustls-tls = ["download/reqwest-rustls-tls"]

# Include in the default set to disable self-update and uninstall.
no-self-update = []

# Sorted by alphabetic order
[dependencies]
anyhow = "1.0.31"
cfg-if = "1.0"
chrono = "0.4"
clap = "2"
download = {path = "download", default-features = false}
effective-limits = "0.5.3"
enum-map = "1.1.0"
flate2 = "1"
git-testament = "0.1.4"
home = {git = "https://github.com/rbtcollins/home", rev = "a243ee2fbee6022c57d56f5aa79aefe194eabe53"}
lazy_static = "1"
libc = "0.2"
num_cpus = "1.13"
opener = "0.5.0"
# Used by `curl` or `reqwest` backend although it isn't imported
# by our rustup.
openssl = {version = "0.10", optional = true}
pgp = {version = "0.7", default-features = false}
pulldown-cmark = {version = "0.8", default-features = false}
rand = "0.8"
regex = "1"
remove_dir_all = "0.7.0"
same-file = "1"
scopeguard = "1"
semver = "0.11"
serde = {version = "1.0", features = ["derive"]}
sha2 = "0.9"
sharded-slab = "0.1.1"
strsim = "0.10"
tar = "0.4.26"
tempfile = "3.1"
# FIXME(issue #1818, #1826, and friends)
term = "=0.5.1"
thiserror = "1.0"
threadpool = "1"
toml = "0.5"
url = "2.1"
wait-timeout = "0.2"
xz2 = "0.1.3"
zstd = "0.6"

[dependencies.retry]
default-features = false
features = ["random"]
version = "1.2.1"

[dependencies.rs_tracing]
features = ["rs_tracing"]
version = "1.0.1"

[target."cfg(windows)".dependencies]
cc = "1"
winreg = "0.8"

[target."cfg(windows)".dependencies.winapi]
features = [
  "combaseapi",
  "errhandlingapi",
  "fileapi",
  "handleapi",
  "ioapiset",
  "jobapi",
  "jobapi2",
  "minwindef",
  "processthreadsapi",
  "psapi",
  "shlobj",
  "shtypes",
  "synchapi",
  "sysinfoapi",
  "tlhelp32",
  "userenv",
  "winbase",
  "winerror",
  "winioctl",
  "winnt",
  "winuser",
]
version = "0.3"

[dev-dependencies]
walkdir = "2"

[build-dependencies]
lazy_static = "1"
regex = "1"

[workspace]
members = ["download"]

[lib]
name = "rustup"
path = "src/lib.rs"

[profile.release]
codegen-units = 1
lto = true

# Reduce build time by setting proc-macro crates non optimized.
[profile.release.build-override]
opt-level = 0
