// Ferron configuration to start simple test distribution server. See the README.md for details about this file.
:8080 {
  log_date_format "%d/%b/%Y:%H:%M:%S %z"
  log_format "{client_ip} - {auth_user} [{timestamp}] \"{method} {path_and_query} {version}\" {status_code} {content_length} \"{header:Referer}\" \"{header:User-Agent}\""
  log "/dev/stderr"
  error_log "/dev/stderr"
  status 401 users="test"
  user "test" "$argon2id$v=19$m=19456,t=2,p=1$emTillHaS3OqFuvITdXxzg$G00heP8QSXk5H/ruTiLt302Xk3uETfU5QO8hBIwUq08"
// BEGIN VARIABLE CONFIG SECTION
  proxy "https://static.rust-lang.org/"
  proxy_request_header_remove "Authorization"
  proxy_request_header_remove "Proxy-Authorization"
// END VARIABLE CONFIG SECTION
}
