@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:500);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:500);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400);

body {
    margin-top: 2em;
    background-color: white;
    color: #515151;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 25px;
}

pre {
    font-family: Inconsolata,Menlo,Monaco,Consolas,"Courier New",monospace;
    font-weight: 400;
}

body#idx #pitch > a {
    font-weight: 500;
    line-height: 2em;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    color: rgb(42, 100, 150);
}

body#idx > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25em;
}

body#idx > #pitch {
    width: 30em;
}

#pitch em {
    font-style: normal;
    font-weight: 400;
}

body#idx p {
    margin-top: 2em;
    margin-bottom: 2em;
}

.instructions {
    background-color: rgb(250, 250, 250);
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 1px 4px 0px rgb(204, 204, 204);
}

.instructions > * {
    width: 22em;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

#platform-instructions-unix > pre,
#platform-instructions-default > div > pre {
    background-color: #515151;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-radius: 3px;
    box-shadow: inset 0px 0px 20px 0px #333333;
}

#platform-instructions-win a,
#platform-instructions-default a {
    display: block;
    padding-top: 0.4em;
    padding-bottom: 0.6em;
    font-family: "Work Sans", "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#platform-instructions-unknown div {
    font-size: 16px;
    line-height: 2em;
}

#about {
    font-size: 16px;
    line-height: 2em;
}

#about > img {
    width: 30px;
    height: 30px;
    transform: translateY(11px);
}

#platform-button {
    background-color: #515151;
    color: white;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
