<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- TODO: Change paths and names accordingly -->
    <?define TargetPath="..\..\..\target\$(var.TARGET)\release"?>
    <?define RustupCustomActionDll="$(var.TargetPath)\rustup_msi.dll"?>
    <?define RustupExe="$(var.TargetPath)\rustup-init.exe"?>
        
    <Product Id="*" Name="rustup" Language="1033" Version="$(env.CFG_VER_MAJOR).$(env.CFG_VER_MINOR).$(env.CFG_VER_PATCH).0" Manufacturer="The Rust Project Developers" UpgradeCode="09acbb1c-7123-44ac-b2a9-4a04b28ced11">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

        <Condition Message="The Rust toolchain is only supported on Windows 7, Windows Server 2008 R2, or higher.">
            <![CDATA[Installed OR (VersionNT >= 601)]]>
        </Condition>

        <!-- TODO: How to configure updates? `AllowDowngrades` automatically removes previously installed versions, no matter what version they have -->
        <MajorUpgrade AllowDowngrades="yes" />
        
        <!-- Specifies a single cab file to be embedded in the installer's .msi. -->
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

        <Feature Id="Rustup" Title="rustup" Absent="disallow" Display="1" AllowAdvertise="no">
            <ComponentRef Id="RustupExe" />
            <ComponentRef Id="RegisterProductCode" />
            <ComponentRef Id="RegisterInstallDir" />
        </Feature>
        <!-- TODO: Add UI to actually let the user disable this Feature -->
        <Feature Id="Path" Title="Add to PATH" Absent="allow" Description="Add Rust to PATH environment variable" Display="2" AllowAdvertise="no">
            <ComponentRef Id="ModifyPathEnv" />
        </Feature>
        
        <!-- Set some metadata that will appear in the "Installed Programs" list -->
        <Property Id="ARPCONTACT" Value="rustup" />
        <Property Id="ARPCOMMENTS" Value="rustup – The Rust Toolchain Installer" />
        <Property Id="ARPURLINFOABOUT" Value="http://www.rustup.rs" />
        <!--<Property Id="ARPHELPLINK" Value="http://www.rustup.rs" />-->
        <Property Id="ARPPRODUCTICON" Value="rust.ico" />

        <!-- Disable Modify and Repair options (our custom actions based install model does not support repairing) -->
        <Property Id="ARPNOMODIFY" Value="1" />
        <Property Id="ARPNOREPAIR" Value="1" />
        
        <Icon Id="rust.ico" SourceFile="rust-logo.ico"/>

        <!-- Reference the UI defined in ui.wxs -->
        <UIRef Id="CustomUI" />
        <WixVariable Id="WixUIDialogBmp" Value="dialogbg.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <!-- `INSTALLLOCATION` will be set by custom action -->
            <Directory Id="INSTALLLOCATION">
                <Directory Id="INSTALLLOCATION_BINARY" Name="bin"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLLOCATION_BINARY">
            <Component Id="RustupExe" Guid="df2ab9f7-7888-465c-98dd-bb58cbca68f7">
                <!-- Install the main rustup.exe binary -->
                <File Source="$(var.RustupExe)" Name="rustup.exe" KeyPath="yes"/>
            </Component>
            <Component Id="RegisterInstallDir" Guid="*">
                <!-- Remember the installation directory in the registry -->
                <RegistryKey Root="HKCU" Key="Software\rustup">
                    <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLLOCATION]" KeyPath="yes"/>
                </RegistryKey>
            </Component>
            <Component Id="RegisterProductCode" Guid="*">
                <!-- Write the product code to the registry, so we can use it to run the uninstaller -->
                <RegistryKey Root="HKCU" Key="Software\rustup">
                    <RegistryValue Name="InstalledProductCode" Type="string" Value="[ProductCode]" KeyPath="yes" />
                </RegistryKey>
            </Component>
            <Component Id="ModifyPathEnv" Guid="*">
                <!-- Prepend to PATH environment variable -->
                <RegistryValue Root="HKCU" Key="Software\rustup" Name="PathEnv" Type="string" Value="1" KeyPath="yes" />
                <Environment Id="PathEnv" Name="PATH" Value="[INSTALLLOCATION_BINARY]" Permanent="no" Part="first" Action="set" System="no" />
            </Component>
        </DirectoryRef>

        <!-- Read installation path from the registry. This is required for uninstall and upgrade
             and should only find something if rustup has already been installed via MSI. -->
        <Property Id="INSTALLLOCATION_REGISTRY">
            <RegistrySearch Id="SearchRegistryInstallLocation" Root="HKCU" Key="Software\rustup" Name="InstallDir" Type="raw" />
        </Property>
        
        <!-- Read environment variables `CARGO_HOME` and `RUSTUP_HOME`, because they won't be visible in custom actions later -->
        <SetProperty Action="ReadCargoHome" Id="CARGO_HOME" Value="[%CARGO_HOME]" Before="AppSearch" Sequence="first" />
        <SetProperty Action="SetCargoHomeOverride" Id="CARGO_HOME_OR_DEFAULT" Value="[CARGO_HOME]" After="ReadCargoHome" Sequence="first">CARGO_HOME</SetProperty>
        <SetProperty Action="SetCargoHomeDefault" Id="CARGO_HOME_OR_DEFAULT" Value="[%USERPROFILE]\.cargo" After="ReadCargoHome" Sequence="first">NOT CARGO_HOME</SetProperty>

        <SetProperty Action="ReadRustupHome" Id="RUSTUP_HOME" Value="[%RUSTUP_HOME]" Before="AppSearch" Sequence="first" />
        <SetProperty Action="SetRustupHomeOverride" Id="RUSTUP_HOME_OR_DEFAULT" Value="[RUSTUP_HOME]" After="ReadRustupHome" Sequence="first">RUSTUP_HOME</SetProperty>
        <SetProperty Action="SetRustupHomeDefault" Id="RUSTUP_HOME_OR_DEFAULT" Value="[%USERPROFILE]\.rustup" After="ReadRustupHome" Sequence="first">NOT RUSTUP_HOME</SetProperty>

        <!-- Looks for `rustup.exe` in `%USERPROFILE%\.cargo\bin` or `%CARGO_HOME%\bin` respectively -->
        <Property Id="RUSTUP_EXE_EXISTS">
            <DirectorySearch Id="ExistingRustupExeSearch" Path="[CARGO_HOME_OR_DEFAULT]\bin" Depth="0">
                <FileSearch Name="rustup.exe" />
            </DirectorySearch>
        </Property>

        <!-- Looks for `%USERPROFILE%\.rustup` or `%RUSTUP_HOME%` respectively -->
        <Property Id="RUSTUP_DIRECTORY_EXISTS">
            <DirectorySearch Id="ExistingRustupDirSearch" Path="[RUSTUP_HOME_OR_DEFAULT]" Depth="0" AssignToProperty="yes" />
        </Property>

        <!-- This property will be set whenever a previous installation of rustup was found, even if it was not installed via MSI -->
        <SetProperty Id="RUSTUP_EXISTS" Value="1" After="AppSearch" Sequence="first">RUSTUP_EXE_EXISTS AND RUSTUP_DIRECTORY_EXISTS</SetProperty>

        <!-- Propagate correct value to INSTALLLOCATION directory -->
        <SetDirectory Action="AssignInstallLocationExisting" Id="INSTALLLOCATION" Value="[INSTALLLOCATION_REGISTRY]" Sequence="first">INSTALLLOCATION_REGISTRY</SetDirectory>
        <SetDirectory Action="AssignInstallLocationNew" Id="INSTALLLOCATION" Value="[CARGO_HOME_OR_DEFAULT]" Sequence="first">NOT INSTALLLOCATION_REGISTRY</SetDirectory>

        <!-- Register the DLL containing the custom actions as an embedded binary -->
        <Binary Id="RustupCustomActionDll" SourceFile="$(var.RustupCustomActionDll)"/>
        <!-- Use a type 51 custom action to send options to deferred custom action `RustupInstall`
             (can use arbitrary string that encodes all necessary properties and will be parsed from Rust) -->
        <CustomAction Id="SetInstallOptions" Property="RustupInstall" Value="INSTALLLOCATION=[INSTALLLOCATION];RUSTUP_HOME=[RUSTUP_HOME_OR_DEFAULT];RUSTUP_EXISTS=[RUSTUP_EXISTS]" />
        <CustomAction Id="SetUninstallOptions" Property="RustupUninstall" Value="INSTALLLOCATION=[INSTALLLOCATION];RUSTUP_HOME=[RUSTUP_HOME_OR_DEFAULT];RUSTUP_EXISTS=[RUSTUP_EXISTS]" />
        <CustomAction Id="RustupInstall" BinaryKey="RustupCustomActionDll" DllEntry="RustupInstall" Execute="deferred" Return="check" Impersonate="yes"/>
        <CustomAction Id="RustupUninstall" BinaryKey="RustupCustomActionDll" DllEntry="RustupUninstall" Execute="deferred" Return="check" Impersonate="yes"/>
        
        <!-- Schedule our custom actions -->
        <InstallExecuteSequence>
            <Custom Action="SetInstallOptions" Before="InstallInitialize">NOT Installed</Custom>
            <Custom Action="RustupInstall" After="InstallFiles">NOT Installed</Custom>
            <!-- Run RustupUninstall only on true uninstall, not on upgrade -->
            <Custom Action="SetUninstallOptions" Before="InstallInitialize">Installed AND (NOT UPGRADINGPRODUCTCODE)</Custom>
            <Custom Action="RustupUninstall" After="RemoveFiles">Installed AND (NOT UPGRADINGPRODUCTCODE)</Custom>
        </InstallExecuteSequence>

        <!-- Send a WM_SETTINGCHANGE message to tell processes like explorer to update their
             environments so any new command prompts get the updated %PATH% -->
        <CustomActionRef Id="WixBroadcastEnvironmentChange" />
    </Product>
</Wix>
